<div *ngIf="currentRoute === '/roster'">
  <h3>Here is a list of all players on our roster</h3>
  <br>
  <div *ngFor="let player of players | async" class="panel panel-default">
    <div class="panel-body">
      <h6 (click)="goToDetailPage(player)"><em>{{player.name}}</em></h6>
    </div>
  </div>
</div>

<div *ngIf="currentRoute === '/admin'">
  <div *ngFor="let player of players | async" class="panel panel-default">
    <div class="panel-body">
      <h6 (click)="goToEditPage(player)"><em>{{player.name}}</em></h6>
    </div>
  </div>
</div>
