<div *ngIf="currentRoute === '/roster'">
  <h3>Here is a list of all players on our roster</h3>
  <br>
  <div *ngFor="let player of players | async" class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li (click)="goToDetailPage(player)"><strong>{{player.name}}</strong> {{player.position}}</li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="currentRoute === '/admin'">
  <div *ngFor="let player of players | async" class="panel panel-default">
    <div class="panel-body">
      <ul>
        <li (click)="goToEditPage(player)">{{player.name}}</li>
      </ul>
    </div>
  </div>
</div>
